body, html, #buttons{
    height: 100%;
    width: 100%;
    margin: 0;
}
body{
    padding: 10px;
    border: 5px solid black;
}
/*#buttons{position: absolute; top: 0; right: 0; bottom: 0; left: 0;}*/

#buttons, #trivia, #gameZone{
    display: none;
}
.col-1{
    height: 11%;
    text-align: center;
}
button{
    margin-left: auto;
    margin-right: auto;
}

.moving{
    transition-property: transform;
    transition-duration: 3s;
   transition-timing-function: linear;

}

.moving-button{
    color: red;
    position: relative;
    z-index:1000;
}

#start-page{
    text-align: center;
}
#start-page div{
    color: white;
}
form{
    display: flex;
    justify-content: center;
    margin: 25px
}
form div{
    margin: 0 10px;
}
select{
    margin-left: 10px;
}

#gameSettings{
    font-size: x-large;
}

#trivia{
    text-align: center;
    height: 50px;
    justify-content: space-evenly;
    align-items: flex-start;
}


#score{
    display: flex;
}
#score div{
    border: 2px solid black;
    width: 50px;
}

#score-keeper{
    text-align: center;
    width: 200px;
    height: 50px;
    z-index: 1000;
    color: black;
}
.grid{
    border: 2px black solid;
    justify-content: center;
    width: 100px;

}
.score{
    display: flex;
    width: 200px;

}

#gameOver{
    position: absolute;
    display: none;
    top: 25%;
    left: 25%;
    background-color: white;
    height: 50%;
    width: 50%;
    padding-top: 10%;
}
#gameOver div, h1{
    margin: 0 auto;
    text-align: center;


}
#gameOver h1{
    margin-bottom: 15px;
}

#newGameOptions button{
    margin: 10px 0;
}

#gameZone{
    height: 100%;
    max-width: 1200px;
    max-height: 800px;
    margin: 0 auto;
    border: 2px solid red;
    background-color: white;
    z-index: 1;
}
html,body{
    background-color: blue;
}
body{
    position: relative;
}
.hoverBox{
    position: absolute;
    z-index: 100;
}




